.header-address{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.doc-type{
    text-align: right;
    font-weight: bold;
}
.bill-to{
   margin-left: 115px; 
}
.bill-to-date-invoice-header-row{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 25px;
}
.customer-mailing-address{
    display: flex;
    flex-direction: column;
    text-align: left;
    word-wrap: normal;
}
.text-area-customer-mailing-address{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    height: 5em;
    width: 14em;
    border-color: black;
    resize: none;
    position: relative;
    /* top: -22px; */
    top: -63px;
    color: rgb(0, 0, 182)
}
.change-company-button{
    position: relative;
    top: -110px;
    left: 5px;
    background-color: rgb(255, 196, 86);
    opacity: 0;
    z-index: 0;
}
.select-company-date-invoice-num-input-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.customer-select-div{
    z-index: 1;
    margin-top: 44px;
    margin-left: 295px;
    opacity: 1;
}
.invoice-number-header{
    margin-right: 60px;
}
.invoice-date-header{
    margin-right: 100px;
}
.line-items-table{
    border-collapse: collapse;
}
table, thead, th, tr, td{
    top: 0px;
    position: sticky;
}
.po-num-input-1{
    margin-right: -5px;
    text-align: center; 
}
.item-num-select-1{
    margin-right: -5px;
    height: 21.3px;
    text-align: center;   
}
.item-name-select-1{
    margin-right: -5px;
    height: 21.3px;
    text-align: center; 
}
.qty-ea-input-1{
    margin-right: -5px;
    text-align: center;
}
.price-ea-input-1{
    margin-right: -5px;
    text-align: center;
    color: rgb(0, 0, 182);
}
.amount-dollar-input-1{
    margin-right: -5px;
    text-align: center;
    color: rgb(0, 0, 182); 
}
.po-num-input-2{
    margin-right: -5px;
    text-align: center; 
}
.item-num-select-2{
    margin-right: -5px;
    height: 21.3px;
    text-align: center; 
}
.item-name-select-2{
    margin-right: -5px;
    height: 21.3px;
    text-align: center; 
}
.qty-ea-input-2{
    margin-right: -5px;
    text-align: center; 
}
.price-ea-input-2{
    margin-right: -5px;
    text-align: center;
    color: rgb(0, 0, 182);
}
.amount-dollar-input-2{
    text-align: center;
    color: rgb(0, 0, 182);
}
.po-num-input-3{
    margin-right: -5px;
    text-align: center; 
}
.item-num-select-3{
    margin-right: -5px;
    height: 21.3px;
    text-align: center; 
}
.item-name-select-3{
    margin-right: -5px;
    height: 21.3px;
    text-align: center; 
}
.qty-ea-input-3{
    margin-right: -5px;
    text-align: center; 
}
.price-ea-input-3{
    margin-right: -5px;
    text-align: center;
    color: rgb(0, 0, 182);  
}
.amount-dollar-input-3{
    text-align: center;
    color: rgb(0, 0, 182); 
}
.po-num-input-4{
    margin-right: -5px;
    text-align: center; 
}
.item-num-select-4{
    margin-right: -5px;
    height: 21.3px;
    text-align: center; 
}
.item-name-select-4{
    margin-right: -5px;
    height: 21.3px;
    text-align: center; 
}
.qty-ea-input-4{
    margin-right: -5px;
    text-align: center; 
}
.price-ea-input-4{
    margin-right: -5px;
    text-align: center;
    color: rgb(0, 0, 182);  
}
.amount-dollar-input-4{
    text-align: center;
    color: rgb(0, 0, 182);
}
.po-num-input-5{
    margin-right: -5px;
    text-align: center; 
}
.item-num-select-5{
    margin-right: -5px;
    height: 21.3px;
    text-align: center; 
}
.item-name-select-5{
    margin-right: -5px;
    height: 21.3px;
    text-align: center; 
}
.qty-ea-input-5{
    margin-right: -5px;
    text-align: center;
    color: rgb(0, 0, 182); 
}
.price-ea-input-5{
    margin-right: -5px;
    text-align: center;
    color: rgb(0, 0, 182);  
}
.amount-dollar-input-5{
    text-align: center;
    color: rgb(0, 0, 182);  
}
.sales-amount-input{
    text-align: center; 
    color: rgb(0, 0, 182);
}
.freight-amount-input{
    text-align: center; 
}
.total-due-input{
    text-align: center;
    color: rgb(0, 0, 182);
}
td{
    padding: 0px;
}
.save-form-button-paragraph{
    display: flex;
    justify-content: center;
    /* add to @media print */
    /* position: relative;
    margin-right: 0px; */
}
.save-form-button{
    background-color: lightgreen;
    margin-right: 150px;
}
.hyperlink-menu-item{
    margin-right: 10px;
}
.dollar-sign{
    position: absolute;
    margin-left: 2px;
    margin-top: 2px;
    color: rgb(0, 0, 182); 
}
.dollar-sign-freight-amount-input{
    position: absolute;
    margin-left: 2px;
    margin-top: 2px;
    color: black;
}
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    border: 1px solid rgb(118, 118, 118);
    box-shadow: 0 0 0 20px white inset;
    height: 17.2px;
} */
@media print{
    .menu-hyperlink-format{
        display: none;
    }
    .h2-header{
        display: none;
    }
    .save-form-button-paragraph{
        display: none;
    }
    .item-num-select-1{
        appearance: none;
    }
    .item-num-select-2{
        appearance: none;
    }
    .item-num-select-3{
        appearance: none;
    }
    .item-num-select-4{
        appearance: none;
    }
    .item-num-select-5{
        appearance: none;
    }
    .item-name-select-1{
        appearance: none;
    }
    .item-name-select-2{
        appearance: none;
    }
    .item-name-select-3{
        appearance: none;
    }
    .item-name-select-4{
        appearance: none;
    }
    .item-name-select-5{
        appearance: none;
    }
}