input{
    display: block;
    margin-bottom: 5px;
}
.hyperlink-format{
    margin-bottom: 10px;
    font-weight: bold;
}
.item-view-output{
    display: block;
    margin-bottom: 5px;
}
.output-label{
    font-weight: bold;
}